<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">


	<bean name="/user" class="com.njit.edu.action.UserAction">
		<property name="userBiz" ref="userBiz"></property>
	</bean>

	<bean name="/download" class="com.njit.edu.action.UserAction">
		<property name="loadBiz" ref="loadBiz"></property>
	</bean>
	<bean name="/admin" class="com.njit.edu.action.AdminAction">
		<property name="adminBiz" ref="adminBiz"></property>
	</bean>

	<bean name="/linkinfo" class="com.njit.edu.action.AdminAction">
		<property name="linkinfoBiz" ref="linkinfoBiz"></property>
	</bean>

	<bean name="/userLinkinfo" class="com.njit.edu.action.UserAction">
		<property name="linkinfoBiz" ref="linkinfoBiz"></property>
	</bean>

	<bean name="/userinfo" class="com.njit.edu.action.AdminAction">
		<property name="userBiz" ref="userBiz"></property>
	</bean>

	<bean name="/mater" class="com.njit.edu.action.UserAction">
		<property name="materBiz" ref="materBiz"></property>
	</bean>
	
	<bean name="/materinfo" class="com.njit.edu.action.AdminAction">
		<property name="materBiz" ref="materBiz"></property>
	</bean>


</beans>
